<th:block th:fragment="menu" xmlns:th="http://www.thymeleaf.org">

    <div class="card">
        <div class="card-header bg-primary">e-Signature</div>
        <div class="list-group list-group-flush">
            <a th:href="@{/sign-a-document}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/sign-a-document' ? 'active' : ''}" th:text="#{label.signADocument}">Sign a document</a>
            <a th:href="@{/sign-a-digest}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/sign-a-digest' ? 'active' : ''}" th:text="#{label.signADigest}">Sign a digest</a>
			<a th:href="@{/sign-a-pdf}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/sign-a-pdf' ? 'active' : ''}" th:text="#{label.signAPDF}">Sign a PDF</a>
            <a th:href="@{/sign-multiple-documents}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/sign-multiple-documents' ? 'active' : ''}" th:text="#{label.signMultiDocuments}">Sign multi documents</a>
            <a th:href="@{/signature-standalone}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/signature-standalone' ? 'active' : ''}" th:text="#{label.standalone.application}">Standalone application</a>
            <a th:href="@{/signature-rest}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/signature-rest' ? 'active' : ''}" th:text="#{label.rest.soap.services}">REST/SOAP WebServices</a>
        </div>
    </div>
    
    <div class="card mt-3">
        <div class="card-header bg-primary">Server side</div>
        <div class="list-group list-group-flush">
            <a th:href="@{/extension}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/extension' ? 'active' : ''}" th:text="#{label.extend}">Extension</a>
            <a th:href="@{/timestamp-a-document}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/timestamp-a-document' ? 'active' : ''}" th:text="#{label.timestamp.doc}">Timestamp a document</a>
            <a th:href="@{/validation}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/validation' ? 'active' : ''}" th:text="#{label.validate}">Signature Validation</a>
            <a th:href="@{/certificate-validation}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/certificate-validation' ? 'active' : ''}" th:text="#{label.cert.validate}">Certificate Validation</a>
            <a th:href="@{/qwac-validation}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/qwac-validation' ? 'active' : ''}" th:text="#{label.qwac.validate}">QWAC Validation</a>
            <a th:href="@{/replay-diagnostic-data}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/replay-diagnostic-data' ? 'active' : ''}" th:text="#{label.replay.diag}">Replay Diagnostic Data</a>
            <a th:href="@{/tl-info}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/tl-info' ? 'active' : ''}" th:text="#{label.tsls}">Trusted lists</a>
      		<a th:href="@{/oj-certificates}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/oj-certificates' ? 'active' : ''}" th:title="#{label.eu.oj.certificates.page}" th:text="#{label.eu.oj.certificates}"></a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary">Documentation</div>
        <div class="list-group list-group-flush">
            <a th:href="@{/doc/dss-documentation.html}" target="_blank" class="list-group-item">HTML</a>
            <a th:href="@{/doc/dss-documentation.pdf}" target="_blank" class="list-group-item">PDF</a>
            <a th:href="@{/apidocs/index.html}" target="_blank" class="list-group-item">Javadoc</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary">Useful links</div>
        <div class="list-group list-group-flush d-print-none">
            <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eSignature" class="list-group-item" target="_blank">CEF Digital</a>
            <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/Newsletter+Subscription" class="list-group-item" target="_blank">CEF Newsletter</a>
            <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eSignature+FAQ" class="list-group-item" target="_blank">eSignature FAQ</a>
            <a href="https://ec.europa.eu/tools/lotl/pivot-lotl-explanation.html" class="list-group-item" target="_blank">Pivot LOTL explanation</a>
            <a href="https://github.com/esig/" class="list-group-item" title="GitHub - Source code" target="_blank">GitHub source code</a>
            <a href="https://ec.europa.eu/cefdigital/code/projects/ESIG/" class="list-group-item" title="Bitbucket - Source code" target="_blank">Bitbucket source code</a>
            <a href="https://ec.europa.eu/cefdigital/tracker/projects/DSS/issues" class="list-group-item" title="Jira - Issue tracker" target="_blank">Report a bug</a>
            <a href="https://esig-dss.atlassian.net/projects/DSS" class="list-group-item" title="Jira - old" target="_blank">Old Jira</a>
            <a href="https://webgate.ec.europa.eu/tl-browser/#/" class="list-group-item" th:text="#{label.tlbrowser.tl.eu}" target="_blank">TL Browser</a>
            <a href="https://webgate.ec.europa.eu/esig-validation-tests/home" class="list-group-item" target="_blank">eSignature validation test cases</a>
            <a href="https://ec.europa.eu/cefdigital/wiki/display/TLSO/Trusted+List+Manager+non-EU" class="list-group-item" target="_blank">TL Manager non EU</a>
        </div>
    </div>
</th:block>