<div class="container-fluid header-highlight" th:fragment="nav_bar" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h1 class="title">
                        <a th:href="@{/home}" class="dss-link title-link">
                            <span class="text-nowrap" th:text="#{application.title}">Digital Signature Services</span>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>