<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Indication -->
<span class="indication" th:fragment="indication(indicationName)">
	<span th:with="status=${(indicationName == 'TOTAL_PASSED')?'success':((indicationName == 'TOTAL_FAILED')?'danger':'warning')}" 
			th:class="${'badge badge-' + status}" th:text="${indicationName}"></span>
</span>

<!-- SubIndication -->
<span class="sub-indication" th:fragment="subIndication(indicationName, subIndicationName)">
	<span th:with="status=${(indicationName == 'TOTAL_FAILED')?'danger':'warning'}" 
			th:class="${'badge badge-' + status}" th:text="${subIndicationName}"></span>
</span>

<!-- Cached Result -->
<span class="task-result" th:fragment="task-result(result)">
	<span th:text="${result.getStatusName()}"></span>
	<span th:replace="fragment/tl-info-fragments :: result-status(result=${result})"></span>
	<span th:text="${result.isError()}?${' (' + #dates.format(result.exceptionFirstOccurrenceTime, 'dd-MMM-yyyy HH:mm:ss') + ') '}:
            ${#dates.format(result.lastStateTransitionTime, 'dd-MMM-yyyy HH:mm:ss')}"></span>
</span>

<span th:fragment="result-status(result)">
	<i th:if="${!result.resultExist and !result.isError()}" class="fa fa-ban text-muted" title="Not performed"></i>
	<i th:if="${result.isSynchronized()}" class="fa fa-check-circle text-success" title="OK"></i>
	<i th:if="${result.isError()}" class="fa fa fa-times-circle text-danger" 
		th:title="${result.exceptionMessage}"></i>
</span>

<!-- Validation result -->
<span class="task-result" th:fragment="validation-result(validationResult)">
	<span th:text="${validationResult.getStatusName()}"></span>
	<span th:replace="fragment/tl-info-fragments :: validation-status(validationResult=${validationResult})"></span>
    <span th:text="${validationResult.isError()}?${' (' + #dates.format(validationResult.exceptionFirstOccurrenceTime, 'dd-MMM-yyyy HH:mm:ss') + ') '}:
            ${#dates.format(validationResult.lastStateTransitionTime, 'dd-MMM-yyyy HH:mm:ss')}"></span>
</span>

<span th:fragment="validation-status(validationResult)">
	<i th:if="${!validationResult.resultExist and !validationResult.isError()}" class="fa fa-ban text-muted" title="Not performed"></i>
	<i th:if="${validationResult.isValid()}" class="fa fa-check-circle text-success"
		th:title="${validationResult.indication}"></i>
	<i th:if="${validationResult.isIndeterminate()}" class="fa fa-exclamation-circle text-warning"
		th:title="${validationResult.indication + ' : ' + validationResult.subIndication}"></i>
	<i th:if="${validationResult.isInvalid()}" class="fa fa-times-circle text-danger" 
		th:title="${validationResult.indication + ' : ' + validationResult.subIndication}"></i>
</span>

<span th:fragment="tl-global-validation-status(parsingResult, validationResult)">
	<i th:if="${!validationResult.resultExist and !validationResult.isError()}" 
			class="fa fa-ban text-muted" title="Not performed"></i>
	<i th:if="${!(!validationResult.resultExist and !validationResult.isError()) and 
				validationResult.isValid() and !(!parsingResult.resultExist or parsingResult.nextUpdateDate.before(#dates.createNow()))}" 
			class="fa fa-check-circle text-success" th:title="${validationResult.indication}"></i>
	<i th:if="${!(!validationResult.resultExist and !validationResult.isError()) and 
				(validationResult.isIndeterminate() or !parsingResult.resultExist or parsingResult.nextUpdateDate.before(#dates.createNow()))}" 
			class="fa fa-exclamation-circle text-warning" 
			th:title="${(validationResult.isIndeterminate()?(validationResult.indication + ' : ' + validationResult.subIndication):'EXPIRED')}"></i>
	<i th:if="${validationResult.isError() or (validationResult.isInvalid() and !(!parsingResult.resultExist or parsingResult.nextUpdateDate.before(#dates.createNow())))}" 
			class="fa fa-times-circle text-danger" th:title="${validationResult.indication + ' : ' + validationResult.subIndication}"></i>
</span>