<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template :: header"></head>
	<body>
		
		<nav th:replace="template :: navigation"></nav>
	
		<div class="container">
			<div class="row">
                <div class="col-md-3">
        			<div th:replace="template :: menu"></div>
                </div>
				<div class="col-md-9">
					<h2 th:text="#{label.preferences}"></h2>
					<form method="post" th:object="${proxyConfigForm}">
						<table class="table table-striped">
						    <thead>
						        <tr>
						            <th th:text="#{label.key}"></th>
						            <th th:text="#{label.value}"></th>
						        </tr>
						    </thead>
						    <tbody>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.http.host}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpHost}" name="httpHost" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.http.port}"></td>
					                <td class="col-md-3"><input th:type="number" th:value="${proxyConfigForm.httpPort}" name="httpPort" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.http.user}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpUser}" name="httpUser" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.http.password}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpPassword}" name="httpPassword" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.http.enabled}"></td>
					                <td class="col-md-3"><input type="checkbox" th:checked="${proxyConfigForm.httpEnabled}" name="httpEnabled" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.http.exclude}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpExcludedHost}" name="httpExcludedHost" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.https.host}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpsHost}" name="httpsHost" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.https.port}"></td>
					                <td class="col-md-3"><input th:type="number" th:value="${proxyConfigForm.httpsPort}" name="httpsPort" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.https.user}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpsUser}" name="httpsUser" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.https.password}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpsPassword}" name="httpsPassword" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.https.enabled}"></td>
					                <td class="col-md-3"><input type="checkbox" th:checked="${proxyConfigForm.httpsEnabled}" name="httpsEnabled" class="form-control" /></td>
					            </tr>
					            <tr>
					                <td class="col-md-3" th:text="#{proxy.https.exclude}"></td>
					                <td class="col-md-3"><input th:value="${proxyConfigForm.httpsExcludedHost}" name="httpsExcludedHost" class="form-control" /></td>
					            </tr>
						    </tbody>
						</table>
						<div class="form-group">
					        <div class="col-sm-offset-11">
					            <button type="submit" class="btn btn-primary" th:text="#{label.update}"></button>
					        </div>
					    </div>   
					</form>
				</div>
			</div>
			<footer th:replace="template :: footer"></footer>
		</div>
	</body>
</html>
