<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragment/head :: head"></th:block>
<th:block th:replace="fragment/header :: header"></th:block>
<body>
	<main class="page-row page-row-expanded">
	<nav th:replace="fragment/nav_bar :: nav_bar"></nav>

	<!-- BODY -->
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-sm-12"></div>

						<!-- BREADCRUMP -->
						<ul class="breadcrumb">
							<th:block th:replace="fragment/breadcrumb :: breadcrumb"></th:block>
							<li class="active">Administration</li>
						</ul>

						<!-- CONTENT -->
						<div class="row">
							<th:block th:replace="fragment/menu :: menu"></th:block>
							<div class="col-md-9">
								<div class="panel panel-default">
									<div class="panel-heading">
										<span class="badge pull-right"
											th:text="${#lists.size(keystoreCertificates)}">
											Cert(s)</span>
										<h3 class="panel-title"
											th:text="#{label.trusted.certificates.from.OJ}"></h3>
									</div>
									<div class="panel-body" th:if="${keystoreCertificates != null}">
										<th:block th:each="certificateDTO : ${keystoreCertificates}">
											<form method="post">
												<input type="hidden" name="dssId"
													th:value="${certificateDTO.dssId}" />
												<button type="submit" class="btn btn-default pull-right"
													aria-label="Left Align" name="delete">
													<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
												</button>
											</form>
											<dl class="dl-horizontal">
												<dt th:text="#{label.service}"></dt>
												<dd th:text="${certificateDTO.subjetName}"></dd>
												<dt th:text="#{label.issuer}"></dt>
												<dd th:text="${certificateDTO.issuerName}"></dd>
												<dt th:text="#{label.validity_start}"></dt>
												<dd
													th:text="${#dates.format(certificateDTO.notBefore, 'dd/MM/yyyy HH:mm:ss')}"></dd>
												<dt th:text="#{label.validity_end}"></dt>
												<dd
													th:text="${#dates.format(certificateDTO.notAfter, 'dd/MM/yyyy HH:mm:ss')}"></dd>

												<dt>SHA-256 (Hex)</dt>
												<dd th:text="${certificateDTO.sha256Hex}"></dd>
												<dt>SHA-1 (Hex)</dt>
												<dd th:text="${certificateDTO.sha1Hex}"></dd>
												<dt>SHA-256 (Base64)</dt>
												<dd th:text="${certificateDTO.sha256Base64}"></dd>
												<dt>SHA-1 (Base64)</dt>
												<dd th:text="${certificateDTO.sha1Base64}"></dd>
											</dl>
										</th:block>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"
											th:text="#{label.add.a.certificate.in.keystore}"></h3>
									</div>
									<div class="panel-body">
										<form method="post" th:object="${certificateForm}"
											class="form-horizontal" enctype="multipart/form-data">
											<div class="form-group">
												<label for="certificateFile" class="col-sm-3 control-label"
													th:text="#{label.certificate.file}"></label>
												<div class="col-sm-3">
													<input type="file" name="certificateFile" />
												</div>
												<div class="col-xs-3 col-md-offset-1">
													<p th:if="${#fields.hasErrors('certificateFile')}"
														th:errors="*{certificateFile}" class="text-danger">Error</p>
												</div>
											</div>

											<div class="form-group">
												<label for="addToKeystore" class="col-sm-3 control-label"
													th:text=#{label.add.to.keystore}></label>
												<div class="col-sm-4">
													<input type="checkbox" name="addToKeystore" />
												</div>
											</div>

											<th:block th:if="${certificateDTO != null}">

												<dl class="dl-horizontal">

													<dt th:text="#{label.service}"></dt>
													<dd th:text="${certificateDTO.subjetName}"></dd>
													<dt th:text="#{label.issuer}"></dt>
													<dd th:text="${certificateDTO.issuerName}"></dd>

													<dt th:text="#{label.validity_start}"></dt>
													<dd
														th:text="${#dates.format(certificateDTO.notBefore, 'dd/MM/yyyy HH:mm:ss')}"></dd>
													<dt th:text="#{label.validity_end}"></dt>
													<dd
														th:text="${#dates.format(certificateDTO.notAfter, 'dd/MM/yyyy HH:mm:ss')}"></dd>

													<dt>SHA-256 (Hex)</dt>
													<dd th:text="${certificateDTO.sha256Hex}"></dd>
													<dt>SHA-1 (Hex)</dt>
													<dd th:text="${certificateDTO.sha1Hex}"></dd>
													<dt>SHA-256 (Base64)</dt>
													<dd th:text="${certificateDTO.sha256Base64}"></dd>
													<dt>SHA-1 (Base64)</dt>
													<dd th:text="${certificateDTO.sha1Base64}"></dd>
												</dl>

											</th:block>

											<div class="form-group">
												<div class="col-sm-offset-3 col-sm-9">
													<button type="submit" class="btn btn-primary"
														th:text="#{label.submit}"></button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</main>
	<th:block th:replace="fragment/footer :: footer"></th:block>
</body>
</html>
