<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template :: header"></head>
	<body>
		
		<nav th:replace="template :: navigation"></nav>
	
		<div class="container">
			<div class="row">
                <div class="col-md-3">
        			<div th:replace="template :: menu"></div>
                </div>
				<div class="col-md-9">
				
					<div class="panel panel-default">
					    <div class="panel-heading">
					        <span class="badge pull-right" th:text="${#lists.size(keystoreCertificates)}"> Cert(s)</span>
					        <h3 class="panel-title" th:text="#{label.trusted.certificates.from.OJ}"></h3>
					    </div>
					    <div class="panel-body" th:if="${keystoreCertificates != null}">
					    	<th:block th:each="certificateDTO : ${keystoreCertificates}">
				                <form method="post">
				                    <input type="hidden" name="dssId" th:value="${certificateDTO.dssId}" />
				                    <button type="submit" class="btn btn-default pull-right" aria-label="Left Align" name="delete">
				                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				                    </button>
				                </form>
				                <dl class="dl-horizontal">
				                    <dt th:text="#{label.service}"></dt>
				                    <dd th:text="${certificateDTO.subjetName}"></dd>
				                    <dt th:text="#{label.issuer}"></dt>
				                    <dd th:text="${certificateDTO.issuerName}"></dd>
				                    <dt th:text="#{label.validity_start}"></dt>
		                            <dd th:text="${#dates.format(certificateDTO.notBefore, 'dd/MM/yyyy HH:mm:ss')}"></dd>
				                    <dt th:text="#{label.validity_end}"></dt>
		                            <dd th:text="${#dates.format(certificateDTO.notAfter, 'dd/MM/yyyy HH:mm:ss')}"></dd>
				
				                    <dt>SHA-256 (Hex)</dt>
				                    <dd th:text="${certificateDTO.sha256Hex}"></dd>
				                    <dt>SHA-1 (Hex)</dt>
				                    <dd th:text="${certificateDTO.sha1Hex}"></dd>
				                    <dt>SHA-256 (Base64)</dt>
				                    <dd th:text="${certificateDTO.sha256Base64}"></dd>
				                    <dt>SHA-1 (Base64)</dt>
				                    <dd th:text="${certificateDTO.sha1Base64}"></dd>
				                </dl>
				            </th:block>
					    </div>
					</div>
					
					<div class="panel panel-default">
					    <div class="panel-heading">
					        <h3 class="panel-title" th:text="#{label.add.a.certificate.in.keystore}"></h3>
					    </div>
					    <div class="panel-body">
					        <form method="post" th:object="${certificateForm}" class="form-horizontal" enctype="multipart/form-data">
					          
					          	<div th:replace="fields::field-certificate-file"></div>
					            
					            <div class="form-group">
					            	<label for="addToKeystore" class="col-sm-3 control-label" th:text=#{label.add.to.keystore}></label>
					                <div class="col-sm-4">
					                	<input type="checkbox" name="addToKeystore" />
					                </div>
					            </div>
					                        
					            <th:block th:if="${certificateDTO != null}">
					            
					                <dl class="dl-horizontal">
					                
					                    <dt th:text="#{label.service}"></dt>
					                    <dd th:text="${certificateDTO.subjetName}"></dd>
					                    <dt th:text="#{label.issuer}"></dt>
					                    <dd th:text="${certificateDTO.issuerName}"></dd>
					                    
					                    <dt th:text="#{label.validity_start}"></dt>
			                            <dd th:text="${#dates.format(certificateDTO.notBefore, 'dd/MM/yyyy HH:mm:ss')}"></dd>
					                    <dt th:text="#{label.validity_end}"></dt>
			                            <dd th:text="${#dates.format(certificateDTO.notAfter, 'dd/MM/yyyy HH:mm:ss')}"></dd>
					                    
					                    <dt>SHA-256 (Hex)</dt>
					                    <dd th:text="${certificateDTO.sha256Hex}"></dd>
					                    <dt>SHA-1 (Hex)</dt>
					                    <dd th:text="${certificateDTO.sha1Hex}"></dd>
					                    <dt>SHA-256 (Base64)</dt>
					                    <dd th:text="${certificateDTO.sha256Base64}"></dd>
					                    <dt>SHA-1 (Base64)</dt>
					                    <dd th:text="${certificateDTO.sha1Base64}"></dd>
					                </dl>
					            
					            </th:block>
					        
					            <div class="form-group">
					                <div class="col-sm-offset-3 col-sm-9">
					                    <button type="submit" class="btn btn-primary" th:text="#{label.submit}"></button>
					                </div>
					            </div>
					        </form>
					    </div>
					</div>
				</div>
			</div>
			<footer th:replace="template :: footer"></footer>
		</div>
	</body>
</html>
