<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template :: header"></head>
	<body>
		
		<nav th:replace="template :: navigation"></nav>
	
		<div class="container">
			<div class="row">
                <div class="col-md-3">
        			<div th:replace="template :: menu"></div>
                </div>
				<div class="col-md-9">
					<h2 th:text="#{label.preferences}"></h2>
					<table class="table">
					    <thead>
					        <tr>
					            <th th:text="#{label.key}"></th>
					            <th th:text="#{label.value}"></th>
					        </tr>
					    </thead>
					    <tbody>
				            <tr th:each="preference : ${preferences}">
				                <td><a th:href="@{/admin/proxy/edit(key=${preference.key})}" th:text="${preference.key}"></a></td>
				                <td><a th:href="@{/admin/proxy/edit(key=${preference.key})}" th:text="${preference.value}"></a></td>
				            </tr>
					    </tbody>
					</table>
				</div>
			</div>
			<footer th:replace="template :: footer"></footer>
		</div>
	</body>
</html>
