<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragment/head :: head"></th:block>
<th:block th:replace="fragment/header :: header"></th:block>
<body>
	<main class="page-row page-row-expanded">
	<nav th:replace="fragment/nav_bar :: nav_bar"></nav>

	<!-- BODY -->
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-sm-12"></div>

						<!-- BREADCRUMP -->
						<ul class="breadcrumb">
							<th:block th:replace="fragment/breadcrumb :: breadcrumb"></th:block>
							<li class="active" th:text="#{label.cert.validate}"></li>
						</ul>

						<!-- CONTENT -->
						<div class="row">
							<th:block th:replace="fragment/menu :: menu"></th:block>
							<div class="col-md-9">
								<h2 th:text="#{label.cert.validate}"></h2>

								<form method="post" class="form-horizontal"
									enctype="multipart/form-data"
									th:action="@{/certificate-validation}"
									th:object="${certValidationForm}">

									<div th:replace="fields::field-certificate-file"></div>
									<div th:replace="fields::field-certificate-chain-files"></div>
									<div th:replace="fields::field-validation-time"></div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-primary"
												th:text="#{label.submit}"></button>
											<button type="reset" class="btn" th:text="#{label.clear}"></button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</main>
	<th:block th:replace="fragment/footer :: footer"></th:block>
</body>
</html>