<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template :: header"></head>
	<body>
		
		<nav th:replace="template :: navigation"></nav>
	
		<div class="container">
			<div class="row">
                <div class="col-md-3">
        			<div th:replace="template :: menu"></div>
                </div>
				<div class="col-md-9">
					<h2 th:text="#{label.cert.validate}"></h2>
					
					<form method="post" class="form-horizontal" enctype="multipart/form-data" th:action="@{/certificate-validation}" th:object="${certValidationForm}">
					
					   	<div th:replace="fields::field-certificate-file"></div>
					   	<div th:replace="fields::field-certificate-chain-files"></div>
											
					    <div class="form-group">
					        <div class="col-sm-offset-2 col-sm-10">
					            <button type="submit" class="btn btn-primary" th:text="#{label.submit}"></button>
					            <button type="reset" class="btn" th:text="#{label.clear}"></button>
					        </div>
					    </div>   
					</form>

				</div>
			</div>
			<footer th:replace="template :: footer"></footer>
		</div>
	</body>
</html>
