<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout.html}" th:with="currentPage='EU Official Journal Trusted Certificates'">
	<body>		
		<div layout:fragment="content">
			<div class="card">
				<div class="card-header">
					<span class="badge badge-secondary pull-right" th:text="${#lists.size(keystoreCertificates)}"> Cert(s)</span>
    				<span th:text="#{label.trusted.certificates.from.OJ}" th:remove="tag">Trusted certificates from Official Journal (OJ) in the DSS keystore</span>
				</div>
				<div class="card-body" th:if="${keystoreCertificates != null}">
					<div class="eu-official-journal">
						<p>Current keystore is synchronized with <a th:href="${currentOjUrl}" th:text="#{label.eu.oj.page}" target="_blank"></a></p>
						<p th:if="${actualOjUrl == null}" class="text-danger">
							Unable to retrieve the actual OJ URL
						</p>
						<p th:if="${actualOjUrl != null && actualOjUrl != currentOjUrl}" class="text-danger">
							The keystore is outdated! Please, update the keystore from the 
							<a th:href="${actualOjUrl}" target="_blank" th:title="#{label.eu.oj.page}">link</a>
						</p>
					</div>
					<div class="certificates">
						<th:block th:each="certificateDTO, i : ${keystoreCertificates}">
							<div th:replace="fragment/certificate :: certificateDTO(certificateDTO=${certificateDTO})"></div>
							<hr th:if="${! i.last}" />
						</th:block>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>