<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template :: header"></head>
	<body>
		
		<nav th:replace="template :: navigation"></nav>
	
		<div class="container">
			<div class="row">
                <div class="col-md-3">
        			<div th:replace="template :: menu"></div>
                </div>
				<div class="col-md-9">
					<h2 th:text="#{label.signADocument}"></h2>
					
					<form method="post" class="form-horizontal" enctype="multipart/form-data" th:action="@{/sign-a-document}" th:object="${signatureDocumentForm}">
					
					    <input type="hidden" id="isSign" value="true" />
					  
						<div th:replace="fields::field-document-to-sign"></div>
						
						<div th:replace="fields::field-container-type-form"></div>
						
						<div th:replace="fields::field-signature-form"></div>
					    
						<div th:replace="fields::field-signature-packaging"></div>
					    
						<div th:replace="fields::field-signature-level"></div>
						
						<div th:replace="fields::field-digest-algo"></div>
						
						<div th:replace="fields::field-sign-expired"></div>
					
						<div id="nexu_missing_alert" style="display:none;" class="alert alert-warning col-lg-8"><span id="warning-text"></span> You can download the <a th:href="${downloadNexuUrl}">open source version of NexU</a> (<a href="http://nowina.lu/news/nexu/">more info</a>)</div>
							
						<div id="nexu_ready_alert" style="display:none;" class="alert alert-info col-lg-8">NexU ready. Please plug card reader, insert ID card and click on button below.</div>
					
					    <div class="form-group">
					        <div class="col-sm-offset-2 col-sm-10">
					            <button type="submit" class="btn btn-primary" id="submit-button" th:text="#{label.submit}" disabled="disabled"></button>
					            <button type="reset" class="btn" th:text="#{label.clear}"></button>
					        </div>
					    </div>   
					    
					</form>
			
					<script type="text/javascript" th:src="@{/scripts/jsSignatureLevel.js}"></script>
					<script type="text/javascript" th:src="@{/js/nexu-deploy.js}"></script>
					
				</div>
			</div>
			<footer th:replace="template :: footer"></footer>
		</div>
	</body>
</html>
