<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout.html}" th:with="currentPage='Standalone'">
	<body>		
		<div layout:fragment="content">
			<h2>Standalone application</h2>
            <p>
                Download the standalone application (
                <a th:href="@{/downloads/dss-app.zip}" title="e-signature standalone">zip</a>
                ) or (
                <a th:href="@{/downloads/dss-app.tar.gz}" title="e-signature standalone">tar.gz</a>
                )
            </p>

            <div class="card">
                <div class="card-header">More info...</div>
                <div class="card-body collapse in">
                    <p>This demo is a standalone application which uses JavaFX (Java 8).</p>
                    <p>The application connects directly to the CA's infrastructure to retrieve information such as CRL, OCSP, certificates from AIA ...</p>
                    <p>All DSS business logic is embedded inside this application (CAdES, PAdES, XAdES, ASiC). This application doesn't require a DSS server.</p>
                    <div class="col-sm-12">
                        <a th:href="@{/images/standalone-application.png}" class="thumbnail" target="_blank">
                            <img th:src="@{/images/standalone-application.png}" alt="Standalone application" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
		</div>
		<div layout:fragment="scripts">
    		<script type="text/javascript">
				$('.collapse').collapse();
			</script>
		</div>
	</body>
</html>