<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragment/head :: head"></th:block>
<th:block th:replace="fragment/header :: header"></th:block>
<body>
    <main class="page-row page-row-expanded">
    <nav th:replace="fragment/nav_bar :: nav_bar"></nav>

    <!-- BODY -->
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"></div>

                        <!-- BREADCRUMP -->
                        <ul class="breadcrumb">
                            <th:block th:replace="fragment/breadcrumb :: breadcrumb"></th:block>
                            <li class="active">Signature</li>
                            <li class="active">Sign a document</li>
                        </ul>

                        <!-- CONTENT -->
                        <div class="row">
                            <th:block th:replace="fragment/menu :: menu"></th:block>
                            <div class="col-md-9">
                            
								<div th:replace="fragment/disclaimer-mock-tsp::mock-tsp-warn"></div>
                            
                                <h2 th:text="#{label.signADocument}"></h2>

                                <form method="post" class="form-horizontal" enctype="multipart/form-data" th:action="@{/sign-a-document}" th:object="${signatureDocumentForm}">

                                    <input type="hidden" id="isSign" value="true" />

                                    <div th:replace="fields::field-document-to-sign"></div>

                                    <div th:replace="fields::field-container-type-form"></div>

                                    <div th:replace="fields::field-signature-form"></div>

                                    <div th:replace="fields::field-signature-packaging"></div>

                                    <div th:replace="fields::field-signature-level"></div>

                                    <div th:replace="fields::field-digest-algo"></div>

                                    <div th:replace="fields::field-sign-expired"></div>
                                    
                                    <div th:replace="fields::field-content-timestamp"></div>
                                    
                                    <div id="nexu_missing_alert" style="display: none;" class="alert alert-warning col-lg-8">
                                        <span id="warning-text"></span> You can download the
                                        <a th:href="${downloadNexuUrl}">open source version of NexU</a>
                                        (
                                        <a href="http://nowina.lu/solutions/java-less-browser-signing-nexu/">more info</a>
                                        )
                                    </div>

                                    <div id="nexu_ready_alert" style="display: none;" class="alert alert-info col-lg-8">NexU ready. Please plug card reader, insert ID card and click on button
                                        below.</div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" id="submit-button" th:text="#{label.submit}" disabled="disabled"></button>
                                            <button type="reset" class="btn" th:text="#{label.clear}"></button>
                                        </div>
                                    </div>

                                </form>

                                <script type="text/javascript" th:src="@{/scripts/jsSignatureLevel.js}"></script>
                                <script type="text/javascript" th:src="@{/js/nexu-deploy.js}"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </main>
    <th:block th:replace="fragment/footer :: footer"></th:block>
</body>
</html>