<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

  <head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title th:text="#{application.title}">DSS</title>

    <!-- Bootstrap -->
    <link th:href="@{/webjars/jquery-ui/1.11.1/jquery-ui.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/google-code-prettify/1.0.4/src/prettify.css}" rel="stylesheet" />
    <link th:href="@{/css/dss.css}" rel="stylesheet" />
    
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.11.1/jquery-ui.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/google-code-prettify/1.0.4/src/run_prettify.js}"></script>
  </head>
  
  <nav class="navbar navbar-default hidden-print" th:fragment="navigation">
       <div class="container">
           <div class="navbar-header">
               <a class="navbar-brand" th:href="@{/home}">
                   <img th:src="@{/images/68x63-dss-logo.png}" alt="Logo" th:title="#{application.title}" />
            	</a>
           </div>
           <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                   <li><a th:href="@{/home}" th:text="#{application.title}">Home</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                   <li><a th:href="@{/admin/}" th:text="#{label.administration}">Administration</a></li>
               </ul>
           </div>
       </div>
   </nav>
   
   <div th:fragment="menu">
   
        <div th:if="${#httpServletRequest.getRequestURI().contains('/admin/')}" class="list-group hidden-print">
            <a th:href="@{/admin/certificates}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/certificates' ? 'active' : ''}" th:text="#{label.certificates}">Certificates</a>
        </div>

        <div th:if="${! #httpServletRequest.getRequestURI().contains('/admin/')}" class="panel panel-default">
            <div class="panel-heading">e-Signature</div>
            <div class="list-group hidden-print">
                <a th:href="@{/sign-a-document}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/sign-a-document' ? 'active' : ''}" th:text="#{label.signADocument}">Sign a document</a>
                <a th:href="@{/sign-multiple-documents}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/sign-multiple-documents' ? 'active' : ''}" th:text="#{label.signMultiDocuments}">Sign multi documents</a>
                <a th:href="@{/signature-standalone}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/signature-standalone' ? 'active' : ''}" th:text="#{label.standalone.application}">Standalone application</a>
                <a th:href="@{/signature-rest}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/signature-rest' ? 'active' : ''}" th:text="#{label.rest.soap.services}">REST/SOAP WebServices</a>
            </div>
        </div>
        <div th:if="${! #httpServletRequest.getRequestURI().contains('/admin/')}" class="panel panel-default">
            <div class="panel-heading">Server side</div>
            <div class="list-group hidden-print">
                <a th:href="@{/extension}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/extension' ? 'active' : ''}" th:text="#{label.extend}">Extension</a>
                <a th:href="@{/validation}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/validation' ? 'active' : ''}" th:text="#{label.validate}">Validation</a>
                <a th:href="@{/tsl-info}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/tsl-info' ? 'active' : ''}" th:text="#{label.tsls}">Trusted lists</a>
            </div>
        </div>
		
		<div class="panel panel-default">
		    <div class="panel-heading">Documentation</div>
		    <div class="list-group hidden-print">
		        <a th:href="@{/doc/dss-documentation.html}" target="_blank" class="list-group-item">HTML</a>
		        <a th:href="@{/doc/dss-documentation.pdf}" target="_blank" class="list-group-item">PDF</a>
		    </div>
		</div>
		
		<div class="panel panel-default">
		    <div class="panel-heading">Useful links</div>
		    <div class="list-group hidden-print">
		        <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eSignature" class="list-group-item">CEF Digital</a>
		        <a href="https://github.com/esig/" class="list-group-item" title="GitHub - Source code">GitHub source code</a>
		        <a href="https://ec.europa.eu/cefdigital/code/projects/ESIG/" class="list-group-item" title="Bitbucket - Source code">Bitbucket source code</a>
		        <a href="https://ec.europa.eu/cefdigital/tracker/projects/DSS/issues" class="list-group-item" title="Jira - Issue tracker">Report a bug</a>
		        <a href="https://esig-dss.atlassian.net/projects/DSS" class="list-group-item" title="Jira - old">Old Jira</a>
		        <a href="https://ec.europa.eu/cefdigital/wiki/display/TLSO/Trusted+List+Manager" class="list-group-item" th:text="#{label.tlmanager.tl.eu}">TL Manager</a>
		     </div>     
		</div>
   </div>
   
   <footer th:fragment="footer">
       <div class="row">
           <div class="col-md-12">
               <p class="text-right" th:text="#{application.title} + ' ' + #{application.version}">Application version</p>
           </div>
       </div>
   </footer>
  
</html>
