<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout.html}" th:with="currentPage=#{label.tsls.summary}">
	<head>
		<title th:text="#{label.tsls.summary}"></title>
	</head>
	<body>
		<div layout:fragment="content">

			<p th:if="${summary == null}" th:text="#{label.summary.tl.info.empty}"></p>
		
			<th:block th:if="${summary != null}">
				<div class="lotl" th:each="lotl,iterLOTL : ${summary.getLOTLInfos()}" th:with="downloadResult=${lotl.downloadCacheInfo},
							parsingResult=${lotl.parsingCacheInfo},
							validationResult=${lotl.validationCacheInfo}">
									
					<!-- LOTL -->
					<h2>
						<a th:href="@{/tl-info/lotl/} + ${lotl.getDSSId().asXmlId()}">
							<span th:if="${parsingResult != null and parsingResult.resultExist and parsingResult.territory != null}"
									th:class="${'lotl-flag small_flag mt-2 flag_' + parsingResult.territory}" th:title="${parsingResult.territory}"></span>
						</a>
						<span th:text="#{label.summary.lotl.number(${iterLOTL.count})}"></span>&nbsp;
						<a class="h5 font-weight-bold" th:href="${lotl.url}" th:text="'(' + (${lotl.url}?:'-') + ')'" target="_blank"></a>
					</h2>
					
					<!-- LOTL Info -->
					<div th:replace="fragment/lotl-info-fragments :: lotl-info-summary(downloadResult=${downloadResult}, parsingResult=${parsingResult}, validationResult=${validationResult})"></div>
	
					<!-- Pivots -->
					<div class="table-container row" th:if="${not #lists.isEmpty(lotl.pivotInfos)}">
						<h4>
							<span th:text=#{label.summary.pivot.loaded.header}></span>&nbsp;
							<a class="h6 font-weight-bold" th:href="@{/tl-info/pivot-changes/} + ${lotl.getDSSId().asXmlId()}"
									th:text="#{label.summary.pivot.check.text}"></a>
						</h4>
						<table class="pivot-summary summary-table table">
							<thead>
								<tr>
									<th scope="col" th:text="#{label.summary.tl.info.url}"></th>
									<th scope="col" th:text="#{label.summary.tl.info.last.download.attempt}"></th>
									<th scope="col" th:text="#{label.summary.tl.info.download.result}"></th>
									<th scope="col" th:text="#{label.summary.tl.info.parsing.result}"></th>
									<th scope="col" th:text="#{label.summary.tl.info.validation.result}"></th>
								</tr>
							</thead>
							<tbody th:each="pivot,iterTL : ${lotl.pivotInfos}" th:with="id=${pivot.getDSSId().asXmlId()},
									downloadResult=${pivot.downloadCacheInfo},
									parsingResult=${pivot.parsingCacheInfo},
									validationResult=${pivot.validationCacheInfo}">
								<tr class="pivot-info-preview">
									<!-- URL -->
									<td>
										<a th:text="${pivot.url}?:'-'" th:href="${pivot.url}" target="_blank"></a>
									</td>
									<!-- Last Download Attempt date -->
									<td>
										<span th:text="${downloadResult != null and downloadResult.lastDownloadAttemptTime != null} ?
												${#dates.format(downloadResult.lastDownloadAttemptTime, 'dd-MMM-yyyy HH:mm:ss')} : '-'"></span>
									</td>
									
									<!-- Download result -->
									<td>
										<span th:replace="fragment/tl-info-fragments :: result-status(result=${downloadResult})"></span>
									</td>
									
									<!-- Parsing result -->
									<td>
										<span th:replace="fragment/tl-info-fragments :: result-status(result=${parsingResult})"></span>
									</td>
									
									<!-- Validation result -->
									<td>
										<span th:replace="fragment/tl-info-fragments :: validation-status(validationResult=${validationResult})"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!-- TL summary -->
					<div class="table-container row" th:if="${not #lists.isEmpty(lotl.getTLInfos())}">
						<h4 th:text="#{label.summary.tl.info.header}"></h4>
						<table class="tl-summary summary-table table accordion">
							<thead th:replace="fragment/tl-info :: tl-info-header()"></thead>
							
							<tbody th:each="tl,iterTL : ${lotl.getTLInfos()}" th:with="id=${tl.getDSSId().asXmlId()},
									country=${tl.parsingCacheInfo.isResultExist()}?${tl.parsingCacheInfo.territory}:'no_country',
									downloadResult=${tl.downloadCacheInfo},
									parsingResult=${tl.parsingCacheInfo},
									validationResult=${tl.validationCacheInfo}">
									
									<!-- TL-Info preview -->
									<tr th:replace="fragment/tl-info :: tl-info-preview(id=${id}, country=${country}, downloadResult=${downloadResult},
											parsingResult=${parsingResult}, validationResult=${validationResult})"></tr>
											
									<!-- TL-Info body -->
									<tr th:replace="fragment/tl-info :: tl-info-body(id=${id}, url=${tl.url}, downloadResult=${downloadResult},
											parsingResult=${parsingResult}, validationResult=${validationResult})"></tr>
							</tbody>
							
						</table>
					</div>
				</div>
				
				<!-- Other TLs -->
				<div class="table-container row" th:if="${not #lists.isEmpty(summary.otherTLInfos)}">
					<h2 th:text=#{label.summary.tl.info.other.header}></h2>
					<table class="tl-summary summary-table table accordion">
						<thead th:replace="fragment/tl-info :: tl-info-header()"></thead>
						
						<tbody th:each="tl,iterTL : ${summary.otherTLInfos}" th:with="id=${tl.getDSSId().asXmlId()},
								country=${tl.parsingCacheInfo.isResultExist()}?${tl.parsingCacheInfo.territory}:'no_country',
								downloadResult=${tl.downloadCacheInfo},
								parsingResult=${tl.parsingCacheInfo},
								validationResult=${tl.validationCacheInfo}">
								
								<!-- TL-Info preview -->
								<tr th:replace="fragment/tl-info :: tl-info-preview(id=${id}, country=${country}, downloadResult=${downloadResult},
										parsingResult=${parsingResult}, validationResult=${validationResult})"></tr>
										
								<!-- TL-Info body -->
								<tr th:replace="fragment/tl-info :: tl-info-body(id=${id}, url=${tl.url}, downloadResult=${downloadResult},
										parsingResult=${parsingResult}, validationResult=${validationResult})"></tr>
						</tbody>
						
					</table>
				</div>
			</th:block>
		</div>
	
		<div layout:fragment="scripts">
		    <script type="text/javascript" th:inline="javascript">
			    $('tr > td > a > span').on('click', function(e) { 
			        if(jQuery.inArray( "small_flag", e.target.classList ) != -1){
			            e.stopPropagation(); 
			        }
			    });
		    </script>
		</div>
	</body>
</html>