<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout.html}" th:with="currentPage=#{label.validate}">
	<body>
	<div layout:fragment="content">

		<form method="post" enctype="multipart/form-data" th:action="@{/validation}" th:object="${validationForm}" id="validation-form">

			<div th:replace="fragment/fields::field-signed-file"></div>

			<div th:replace="fragment/fields::field-detached-original-files"></div>
			
			<div th:replace="fragment/fields::send-digest-algo"></div>
			
			<div id="linked-files"></div>

            <div class="card mb-3">
            	<div class="card-header cursor-pointer" data-toggle='collapse' data-target='#advancedOptions' aria-expanded='false'>
                    <span th:text="#{label.validation.advanced.options}" th:remove="tag"></span>
                </div>
                <div id="advancedOptions" class="card-body collapse in">
					<div th:replace="fragment/fields::validation-level-policy"></div>
					<div th:replace="fragment/fields::field-signing-certificate"></div>
                    <div th:replace="fragment/fields::field-adjunct-certificates"></div>
					<div th:replace="fragment/fields::field-certificate-tokens"></div>
					<div th:replace="fragment/fields::field-timestamp-tokens"></div>
					<div th:replace="fragment/fields::field-revocation-data-tokens"></div>
					<div th:replace="fragment/fields::field-identifiers"></div>
					<div th:replace="fragment/fields::field-semantics"></div>
                </div>
            </div>

			<div th:replace="fragment/fields::submit-reset"></div>
		</form>
	</div>
	<div layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/scripts/jsOriginalFilesProvider.js}"></script>
        <script type="text/javascript" th:src="@{/scripts/jsCryptoSupportAlert.js}"></script>
	</div>
</body>
</html>