lotl.url=https://ec.europa.eu/tools/lotl/eu-lotl.xml
oj.url=https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.C_.2019.276.01.0001.01.ENG
keystore.path=/keystore.p12
keystore.password=dss-password
keystore.type=PKCS12

# Mock timestamp is used by default
timestamp.mock=true
# If required, uncomment the following lines and configure a timestamping service
#timestamp.url=
#timestamp.host=
#timestamp.port=
#timestamp.protocol=
#timestamp.username=
#timestamp.password=