lotl.url=https://ec.europa.eu/tools/lotl/eu-lotl.xml
oj.url=https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.C_.2019.276.01.0001.01.ENG
keystore.path=/keystore.p12
keystore.password=dss-password
keystore.type=PKCS12

project.version=${project.version}

# in validation-policy/src/main/resources/
default.validation.policy = policy/constraint.xml

# CommonsDataLoader configuration (timeouts in milliseconds)
dataloader.connection.timeout = 5000
dataloader.connection.request.timeout = 5000
dataloader.redirect.enabled = true

# Custom trusted key store
#trusted.source.keystore.type = PKCS12
#trusted.source.keystore.filename = keystore.p12
#trusted.source.keystore.password = dss-password

proxy.http.enabled = false
#proxy.http.host =
#proxy.http.scheme =
#proxy.http.port = 0
#proxy.http.user =
#proxy.http.password =
#proxy.http.exclude =
# e.g.: proxy.http.exclude = test.site.lu, test.website.com

proxy.https.enabled = false
#proxy.https.host =
#proxy.https.scheme =
#proxy.https.port = 0
#proxy.https.user =
#proxy.https.password =
#proxy.https.exclude =
# e.g.: proxy.https.exclude = test.site.lu, test.website.com

# Mock timestamp is used by default
timestamp.mock = true
timestamp.mock.keystore.file = /self-signed-tsa.p12
timestamp.mock.keystore.type = PKCS12
timestamp.mock.keystore.password = whrmbQRp2nZHx7T5
timestamp.mock.keystore.alias = self-signed-tsa
# If required, uncomment the following lines and configure a timestamping service
#timestamp.url=
#timestamp.host=
#timestamp.port=
#timestamp.protocol=
#timestamp.username=
#timestamp.password=