/* Main */
.cursor-pointer {
	cursor: pointer;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
.animate, .animate * {
    -webkit-transition: all 0.2s 0.0s linear;
    -moz-transition: all 0.2s 0.0s linear;
    -ms-transition: all 0.2s 0.0s linear;
    -o-transition: all 0.2s 0.0s linear;
    transition: all 0.2s 0.0s linear;
}
.card-header.bg-primary {
	color: #fff!important;
}
/* End Main */

/* Forms */

.form-control-file {
    display: inline-block;
    width: auto;
    overflow: hidden;
}

.form-group p.text-danger {
    margin-bottom: 0;
}

/* End Forms */

/* Digest parameters */

#spinner {
	float: left;
	margin-left: 10px;
    margin-top: 5px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* End digest parameters */

/* Drag And Drop */

form .drag-file-label {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 4px dashed;
}

form .drag-file {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
}

/* End Drag And Drop */

/* Digest sign */

form#digest-sign-form p#filename {
  line-height: 32px;
}

/* End Digest sign */

/* PDF signature */

form#sign-pdf-form p#filename {
  line-height: 200px;
}

/* End PDF signature */

/* Certificate validation */

.certificate-form {
	position: relative;
}

#certificate-switcher {
    position: absolute;
    right: 0;
    z-index: 1;
}

.certificate-form-switcher {
	position: absolute;
    width: 100%;
}
/* End Certificate validation */

/* TL-Loading */
.summary-table tbody:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.tl-info-body .collapse:not(.show) {
    display: block;
    height: 0;
    overflow: hidden;
}
.tl-info-preview td:last-child:after {
    display: inline-block;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f077";
    opacity: 0.3;
    right: -25px;
    margin-top: 4px;
}
.tl-info-preview.collapsed td:last-child:after {
    content: "\f078";
}
.tl-info-preview:hover td:last-child:after {
	opacity: 0.6;
}
.tl-info-country {
    display: table-row;
    text-align: center;
    vertical-align: middle;
}
.tl-info-country > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.tl-info-country > .tl-info-country-name-td {
    width: 100%;
    margin-left: 4px;
}
.tl-card-country-name {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}
/* End TL-Loading */

/* Validation reports */

.tooltip-inner {
   max-width: 400px;
}

.constraint {
     line-height: 1.25;
 }

.constraint-text {
    font-size: 0.8rem;
}

#detailed-report-buttons {
    margin: 6px;
    z-index: 3;
    right: 0;
    position: absolute;
}

#detailed-report-buttons.inside-card-header {
    margin: -6px;
    right: none;
    position: relative;
}

.id-copy {
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

.id-copy:active, .id-copy:hover{
    background-color: rgba(0,0,0,.15);
}

.card-header.bg-primary > .id-copy:active, .card-header.bg-primary > .id-copy:hover{
    background-color: rgba(255,255,255,.35);
}

pre.prettyprint {
     border: 1px solid rgba(0,0,0,.125);
     border-radius: 0.25rem;
 }

/* End Validation reports */

/* Mobile devices */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    #detailed-report-card > .card-header {
        display: block!important;
    }
    #detailed-report-card > .card-header > div, #detailed-report-card .inside-card-header > * {
        width: 100%;
        display: inline-block;
        margin: 6px 0 0 0;
        text-align: center;
        border-radius: 2px;
    }
    .constraint {
        display: block;
        margin: 0;
    }
    .constraint > div {
        display: inline;
        width: auto;
        padding: 0;
    }
    form#sign-pdf-form p#filename {
      line-height: 64px;
    }
}

/* End Mobile devices */


/* Print settings */

@media print {
	.dss-main {
		max-width: 100%;
        flex: 0 0 100%;
        margin-left: 0;
	}
	.card-header.bg-primary {
        color: black!important;
    }
	.badge {
		color:inherit!important;
		filter: none!important;
	}
    #detailed-report .constraint-text {
        display: inline-block!important;
    }
    #detailed-report .constraint-tooltip {
        display: none!important;
    }
}

/* End Print settings */