@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

/***** Typography *****/
html {
	font-size: 18px;
}

body {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1em; /* equivalent to 18px */
	line-height: 1.222; /* equivalent to 22px */
	font-weight: 400;
	color: #333;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size-adjust: 0.5;
}

p {
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.72em 0 0.5em;
	font-weight: inherit;
	line-height: 1;
	font-size-adjust: 0.5;
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h1 {
	margin-top: 0;
	font-size: 2.333em;
}

h2, .header-highlight .title {
	font-size: 1.889em
}

h3, footer .title, .modal .title {
	font-size: 1.444em
}

h4, .flag-list-item .title, .list-item .title, .label-header h3 {
	font-size: 1.111em
}

h5, .flag-list-result .title {
	font-size: 1em
}

footer, .footer-note {
	font-size: 0.889em;
	font-weight: 300;
}

/***** ***** Responsive section ***** *****/
@media screen and (max-width: 1920px) {
	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.modal-dialog {
		width: 75%;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 13px;
	}
	footer, .footer-note {
		font-size: 1.444em
	}
	.dropdown-menu>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 767px) {
	.flag-list-form .flag-list-item:last-child {
		padding-bottom: 1.111em;
	}
}

@media screen and (max-width: 414px) {
	html {
		font-size: 12px;
	}
	h1 {
		font-size: 2.083em;
	}
	header svg {
		width: 280px;
	}
	.well {
		padding: 10px;
	}
	.list-item .title, .flag-list-item .content .title {
		display: block;
		margin-bottom: 0.5em;
	}
}

/***** ***** HTML Layout ***** *****/

/***** Fixed footer *****/
html, body {
	height: 100%;
}

body {
	display: table;
	width: 100%;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn-default {
	background-color: #ddd;
}

.btn-default:hover {
	background-color: #bbb;
}

.page-row {
	display: table-row;
	height: 1px;
}

.page-row-expanded {
	height: 100%;
}

.row-layout {
	margin-left: 0px;
	margin-right: 0px;
}

.row-header {
	border-bottom: 1.667em solid #5986bd;
	padding-top: 1.667em;
	padding-bottom: 10px;
}

.row-footer {
	background: #ececec;
	margin-top: 1.667em;
	padding-top: 1.667em;
	padding-bottom: 1.667em;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.btn-primary:disabled {
	background-color: #78b7fb;
	border-color: #78b7fb;
}

/***** Header *****/
header svg {
	max-width: 340px;
	max-height: 75px;
}

header a span {
	position: absolute;
	text-indent: -999px;
	overflow: hidden;
}

.header-highlight {
	padding-bottom: 1.667em;
	color: #FFF;
	background: #5986bd;
}

.header-highlight .title {
	margin-bottom: 0;
}

.header-highlight p {
	margin: 0.5em 0 0 0;
}

.header-highlight .btn-outline {
	margin-top: 15px;
}

/***** Footer *****/
footer ul {
	padding: 0;
}

footer li {
	list-style: none;
	padding: 0.5em 0;
}

footer li a, footer li a:hover {
	color: inherit;
	font-weight: normal;
}

.service ul:first-child {
	margin-bottom: 0px;
}

.social-media li {
	display: inline;
}

.social-media a span {
	position: absolute;
	text-indent: -999px;
	overflow: hidden;
}

.social-media img {
	width: 32px;
}

.footer-note {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: right;
	color: #FFF;
	background: #5986bd;
}

.footer-note a {
	color: #FFF;
	font-weight: normal;
}

/***** Breadcrumb *****/
.breadcrumb {
	padding: 10px 0;
	font-size: 12px;
	border-radius: 0;
	background-color: transparent;
}

.breadcrumb > li {
	margin-right: 3px;
}

.breadcrumb>li+li:before {
	margin: 0;
	color: rgba(0, 0, 0, 0.87);
	content: ">";
}

.breadcrumb li.active {
	color: rgba(0, 0, 0, 0.87);
}

.breadcrumb a {
	font-weight: normal;
}

/***** ***** Menu Panel (Override Gradient/Boostrap) ***** *****/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	text-shadow: 0 0px 0 #e8e8e8;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
	background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	background-repeat: repeat-x;
	border-color: #555;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	z-index: 2;
	color: #555;
	background-color: #337ab7;
	border-color: #555;
}

.panel-default {
	border-color: #5986bd;
}

.panel-default>.panel-heading, .panel-primary>.panel-heading {
	color: white;
	background-image: inherit;
	background-color: #5986bd;
	border-color: #5986bd;
}

.panel-primary {
	border-color: #5986bd;
}

.panel-default > .panel-body {
	padding-top: 30px;
}

.panel-default dt, .panel-default dd {
	word-break: break-all;
}

.panel-body img {
	max-width: 100%;
}

.panel .panel {
	margin-top: 0;
}

.eu-official-journal {
    padding-left: 20px;
    margin-bottom: 20px;
}

.eu-official-journal .warning {
	color: #f90202;
}

.certificate-container .certificate > .result-head, .certificate-container .certificate > .result-body {
	font-size: 14px;
}

.certificates > .certificate {
	margin-bottom: 15px;
}

.certificates > .certificate > div {
	margin-bottom: 5px;
}

.dss-menu > .panel {
	margin-bottom: 10px;
}

.dss-menu .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

.dss-menu .list-group > a {
	color: #337ab7;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.dss-menu .list-group > a:hover {
	background-color: rgb(235, 246, 255);
	text-decoration: none;
}

/***** ***** Custom styles ***** *****/
.content > h2 {
    margin-bottom: 25px;
}

.dss-link {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.dss-link:hover, .dss-link:active, .dss-link:focus, .breakcrumb-link:hover, .breakcrumb-link:active, .breakcrumb-link:focus {
	text-decoration: none;
	outline: none;
}

.title-link, .title-link:hover, .title-link:active, .title-link:focus {
	color: inherit;
}

.glyphicon {
	font-size: 14px;
}

.report > .btn-group {
	height: 33px;
}

.report > .btn-group .btn {
	max-height: 100%;
    color: #212529;
}

/* ----- */
.navbar {
	min-height: 75px;
}

.navbar-brand {
	padding: 5px;
}

.navbar-nav>li>a {
	line-height: 44px;
}

.nav-tabs .nav-link {
	border-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border-bottom: 1px solid #fff;
}

#reportSelectorPanel .panel-heading {
	margin-left: 0px;
	padding-left: 0px;
}

.tooltip-inner {
	max-width: none;
	white-space: nowrap;
}
=======
.navbar {
    min-height: 75px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-nav>li>a {
    line-height: 44px;
}

#reportSelectorPanel .panel-heading {
	margin-left: 0px;
	padding-left: 0px;
}

.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

.dss-arrow {
	margin : 0 10px;
}

.dss-clock {
	margin-left: 5px;
}

form#sign-pdf-form{
  margin: 0 auto;
  width: 500px;
  height: 200px;
  border: 4px dashed #5986bd;
  position: relative;
}
form#sign-pdf-form p#filename{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 190px;
  color: #5986bd;
}
form#sign-pdf-form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
}
form#sign-pdf-form button{
  margin: 0;
  width: 500px;
  height: 35px;
  margin-left: -4px;
  outline: none;
}
form#sign-pdf-form .form-group {
  margin-top: 20px;
  width: 500px;
  outline: none;
  margin-left: -4px;
}

.small_flag {
  display: block;
  width: 32px;
  height : 24px;
  float: left;
  border: 1px solid #ececec;
}

.flag {
  display: block;
  width: 64px;
  height : 48px;
  border: 1px solid #ececec;
}

.flag_AT {
  background: url(../images/flags/at.svg);
  background-size: contain;
}
.flag_BG {
  background: url(../images/flags/bg.svg);
  background-size: contain;
}
.flag_CZ {
  background: url(../images/flags/cz.svg);
  background-size: contain;
}
.flag_DK {
  background: url(../images/flags/dk.svg);
  background-size: contain;
}
.flag_EL {
  background: url(../images/flags/el.svg);
  background-size: contain;
}
.flag_EU {
  background: url(../images/flags/eu.svg);
  background-size: contain;
}
.flag_FR {
  background: url(../images/flags/fr.svg);
  background-size: contain;
}
.flag_HU {
  background: url(../images/flags/hu.svg);
  background-size: contain;
}
.flag_IS {
  background: url(../images/flags/is.svg);
  background-size: contain;
}
.flag_LI {
  background: url(../images/flags/li.svg);
  background-size: contain;
}
.flag_LU {
  background: url(../images/flags/lu.svg);
  background-size: contain;
}
.flag_MT {
  background: url(../images/flags/mt.svg);
  background-size: contain;
}
.flag_NO {
  background: url(../images/flags/no.svg);
  background-size: contain;
}
.flag_PT {
  background: url(../images/flags/pt.svg);
  background-size: contain;
}
.flag_SE {
  background: url(../images/flags/se.svg);
  background-size: contain;
}
.flag_SK {
  background: url(../images/flags/sk.svg);
  background-size: contain;
}
.flag_BE {
  background: url(../images/flags/be.svg);
  background-size: contain;
}
.flag_CY {
  background: url(../images/flags/cy.svg);
  background-size: contain;
}
.flag_DE {
  background: url(../images/flags/de.svg);
  background-size: contain;
}
.flag_EE {
  background: url(../images/flags/ee.svg);
  background-size: contain;
}
.flag_ES {
  background: url(../images/flags/es.svg);
  background-size: contain;
}
.flag_FI {
  background: url(../images/flags/fi.svg);
  background-size: contain;
}
.flag_HR {
  background: url(../images/flags/hr.svg);
  background-size: contain;
}
.flag_IE {
  background: url(../images/flags/ie.svg);
  background-size: contain;
}
.flag_IT {
  background: url(../images/flags/it.svg);
  background-size: contain;
}
.flag_LT {
  background: url(../images/flags/lt.svg);
  background-size: contain;
}
.flag_LV {
  background: url(../images/flags/lv.svg);
  background-size: contain;
}
.flag_NL {
  background: url(../images/flags/nl.svg);
  background-size: contain;
}
.flag_PL {
  background: url(../images/flags/pl.svg);
  background-size: contain;
}
.flag_RO {
  background: url(../images/flags/ro.svg);
  background-size: contain;
}
.flag_SI {
  background: url(../images/flags/si.svg);
  background-size: contain;
}
.flag_UK {
  background: url(../images/flags/uk.svg);
  background-size: contain;
}

.radio-inline > input {
	margin-right: 3px;
}

.form-group {
    display: flex;
    align-items: center;
}

#error {
    margin-top: 15px;
}

/* TL-Summary page */
.lotl {
    margin-bottom: 20px;
}

.lotl > a {
	display: inline-block;
	float: left;
}

.lotl > h2 {
	line-height: 1.4em;
}

.lotl-url {
	font-size: 20px;
    line-height: 1;
    display: inline-block;
}

.lotl-flag {
	margin: 7px 5px 0 0;
	display: inline-block
}

.lotl-panel {
    padding-right: 30px;
    max-width: 100%;
}

.lotl-panel .panel-heading {
	cursor: default;
}

.lotl-panel .result-body {
	margin-bottom: 5px;
}

.lotl-info, .lotl .table-container {
	margin: 15px -30px 15px 0;
}

.table-container {
	padding-right: 30px;
}

.pivot-changes-url {
	font-size: 18px;
}

table.tl-summary {
    table-layout: fixed;
    border-bottom: 2px solid #dee2e6;
    min-width: 800px;
}

.summary-table tbody:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.summary-table th {
   text-align: center; 
}

.summary-table th.limited-size {
	width: 90px;
}

.summary-table td {
   text-align: center;
   line-height: 1;
   vertical-align: middle;
   padding: .5rem;
   position: relative;
}

.tl-summary .small_flag {
	display: inline-block;
	float: none;
}

.task-result > span {
	margin: 0 2px;
}

.task-result > span:first-child {
	margin-left: 0;
}

.tl-info-preview {
	cursor: pointer;
}

.tl-info-preview td:last-child:after {
	display: inline-block;
	position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
	content: "\f077"; /* fa-chevron-up */
	opacity: 0.3;
	right: -25px;
}

.tl-info-preview.collapsed td:last-child:after {
	content: "\f078"; /* fa-chevron-down */
}

.tl-info-preview:hover td:last-child:after {
	opacity: 1;
}

td.tl-info-body {
	padding: 0!important;
	border-top: 0!important;
    text-align: unset;
    background: #fff;
}

.result-body p, .result-body span, .result-body a {
	margin-bottom: 5px;
}

.result-body a {
	display: inline-block;
}

.result-body .next-update {
	margin-right: 5px;
	display: inline-block;
}

a.distribution-point {
    display: block;
}

.certificate .result-body {
	margin-bottom: 0;
	line-height: 1;
}

.tl-info-body .tl-content {
    border-top: 1px solid rgba(222,226,230,0);
    padding: 10px 0;
}

.tl-info-body .tl-content.show, .tl-info-body .tl-content.collapsing {
    border-top: 1px solid rgba(222,226,230,1);
}

.tl-info-body .tl-content > .row {
	padding: 5px 15px;
	margin-right: 0;
	margin-left: 0;
}

.result-head, .bold {
	font-weight: bold;
}

.tl-info-body .tl-content .result-head {
    white-space: nowrap;
}

.tl-info-body .tl-content .result-head:after {
	display: inline-block;
	content: ":";
    margin-left: 5px;
    position: absolute;
}

.result-body {
    word-wrap: break-word;
}

span.distribution-point {
    display: inline-block;
}

/* Pivot summary page */
.pivot-summary-description {
	list-style-type: none;
}

.pivot-circle {
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	border: 4px solid #bbb;
	border-radius: 50%;
	margin-top: 4px;
	margin-right: 5px;
	background: #fff;
}

.pivot-circle.circle-success {
	border-color: #28a745;
}

.pivot-circle.circle-danger {
	border-color: #dc3545;
}

.pivot-circle.circle-signed {
	border-color: #563d7c;
	background-color: #ffe484;
}

.current-lotl {
	margin-bottom: 15px;
}

.lotl-change-warning > span.glyphicon {
	margin: 0 5px;
}

.lotl-change-warning .text-warning {
	
}

.certificates-container .panel {
	width: 100%;
}

.certificates-container > .panel > .panel-heading {
	cursor: default;
}

.certificate-container.panel {
	margin-bottom: 10px;
}

.certificate-container .panel-heading, .certificate-container .panel-body {
	padding: 0 15px;
}

.certificate-container .panel-heading:before {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
	content: "\f28d"; /* fa-stop-circle */
	margin-right: 5px;
}

.certificate-container.panel-success .panel-heading:before {
	content: "\f055"; /* fa-plus-circle */
}

.certificate-container.panel-danger .panel-heading:before {
	content: "\f057"; /* fa-times-circle */
}

.certificate-container.panel-signed .panel-heading:before {
	content: "\f058"; /* fa-check-circle */
}

.certificate-container .panel-body .certificate {
	padding: 15px 0;
}

.certificate-header {
	font-family: monospace;
	font-size: 16px;
}

#downloads {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#downloads .control-label {
	font-weight: bold;
}

/* TL-Country */
.container-no-margin {
    margin-left: unset !important;
    margin-right: unset !important;
    padding-left: 25px;
}

.p-margin {
    margin-bottom:0px;
}

.inner-card-container {
    margin-left: 10px;
    margin-right: 10px;
}

.reset-padding {
    padding-left:15px !important;
}

.table-bordered {
    margin-top:10px;
}

.btn-link{
    padding-top: 0px;
    padding-bottom: 0px;
}

.table-right {
    float: right;
    margin-left: auto;
    margin-right: 10px;
}

.link-h-center {
    transform: translate(0%, -25%);
}

.panel .panel {
    margin-top: 0;
}

dl.dl-horizontal .glyphicon {
    margin-right: 3px;
}

.panel .attributes {
    margin-bottom: 10px;
}

.lotl-location {
    margin-bottom: 10px;
}

.pull-right > a {
	color: #fff;
}

/* Large devices (large desktops, less than 1400px) */
@media (min-width: 1380px) {
	.container {
	    max-width: 1340px;
	}
}
@media (max-width: 1379.98px) {
	.dss {
	    margin-top: 40px;
	}
	.social-buttons {
		margin-top: 20px;
	}
	.nowina-logo {
	    margin: 0 0 15px 0;
	}
	.main-menu > ul:not(:first-child) {
		margin-top: 20px;
	}
	.signing-certificate {
		margin-top: 10px;
		padding-left: 30px;
	}
	.summary-table th, .summary-table td {
		font-size: 14px;
	}
	.summary-table th.limited-size {
		width: 70px;
    	white-space: nowrap;
	}
	.summary-table th.date {
		width: 110px;
	}
}

/* Big devices (small monitors, 1200px and down) */
@media (max-width: 1199.98px) {
	.table-container {
	    overflow-x: scroll;
	}
}

/* Medium devices (tablets, 992px and down) */
@media (max-width: 991.98px) {
	.signing-certificate {
		padding-left: 15px;
	}
	.certificate-header {
		font-size: 14px;
	}
	.panel {
		font-size: 14px;
	}
	.lotl-url {
		font-size: 14px
	}
}