.navbar {
    min-height: 75px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-nav>li>a {
    line-height: 44px;
}

#reportSelectorPanel .panel-heading {
	margin-left: 0px;
	padding-left: 0px;
}

.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

.flag {
  display: block;
  width: 64px;
}

.flag_LU {
  background: url(../images/flags/lu.svg);
  background-size: 640px 480px;
}