<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- FOOTER -->
    <footer class="container-fluid mt-3">
        <div class="row align-items-center footer">
            <div class="container">
                <div class="row">
                    <div class="col">
						<p class="small text-right">DSS Demonstration WebApp: <span th:text="#{application.version}" th:remove="tag"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>