<th:block th:fragment="nav_bar" xmlns:th="http://www.thymeleaf.org">
	<div class="container-fluid d-print-none">
		<div class="row align-items-center header-highlight">
	        <div class="container">
	            <div class="row">
	                <div class="col">
	                    <h1>
	                        <a th:href="@{/home}" class="text-decoration-none text-white" th:text="#{application.title}">Digital Signature Services</a>
	                    </h1>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</th:block>